.tvSize {
  width: 1082px;
  height: 812px;
}

@keyframes wobble {
  0% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translateY(0, 0);
  }
}

.wobble {
  animation: wobble 200ms infinite;
}
